<header class="h-28 w-full  flex flex-col">
    <div class="h-14  flex justify-between bg-stone-100">
        <div id="logos" class="flex items-center w-26 justify-around">
            <app-logo-jordan></app-logo-jordan>
            <app-logo-converse></app-logo-converse>
        </div>
        <div class="w-[600px] flex justify-end px-10">
            <ul  class="font-bold flex items-center text-sm">
                <li *ngIf="!authService.isAuthenticated()" class="flex">
                    <button (click)="toggleRegister()" class="cursor-pointer hover:bg-stone-600 bg-black text-white p-1 rounded-lg transition duration-300 ease-in-out active:scale-90">Regístrate</button>
                    <div class="vertical-line">&nbsp;|&nbsp;</div>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="flex">
                    <button (click)="toggleLogin()" class="cursor-pointer hover:bg-stone-600 bg-black text-white p-1 rounded-lg transition duration-300 ease-in-out active:scale-90">Iniciar sesión </button>
                </li>
                <li *ngIf="authService.isAuthenticated()" class="flex">
                    <button  (click)="logout()"class="cursor-pointer hover:bg-stone-600 bg-black text-white p-1 rounded-lg transition duration-300 ease-in-out active:scale-90">Cerrar sesión </button>
        
                </li>
            </ul>
            </div>
    </div>
    <div class="bg-white grow flex items-center">
        
        <app-navbar class="grow "></app-navbar>
    </div>
</header>