<header class="h-28 w-full  flex flex-col">
    <div class="h-14  flex justify-between bg-stone-100">
        <div id="logos" class="flex items-center w-26 justify-around">
            <app-logo-jordan></app-logo-jordan>
            <app-logo-converse></app-logo-converse>
        </div>
        <div class="w-[600px] flex justify-end px-10">
            <ul class="font-bold flex items-center text-sm
            ">
                <li class="flex">
                    <div>Buscar una tienda</div>
                    <div class="vertical-line ">&nbsp;|&nbsp;</div>
                </li>
                <li class="flex">
                    <div>Ayuda</div>
                    <div class="vertical-line">&nbsp;|&nbsp; </div>
                </li>
                <li class="flex">
                    <div>Únete a nosotros</div>
                    <div class="vertical-line">&nbsp;|&nbsp;</div>
                </li>
                <li class="flex">
                    <div>Iniciar sesión </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-white grow flex items-center">
        
        <app-navbar class="grow "></app-navbar>
    </div>
</header>