<footer>
    <div class="flex justify-between w-full">
        <div class="flex gap-10 p-12">
            <div >
                <h1 class="mb-10 font-bold">Recursos</h1>
                <div class="flex flex-col gap-2 text-stone-600 font-medium">
                    <div>Tarjetas de regalo</div>
                    <div>Tarjetas de regalo corporativas</div>
                    <div>Buscar una tienda</div>
                    <div>Nike Journal</div>
                    <div>Hazte Member</div>
                    <div>Descuento para estudiantes</div>
                    <div>Comentarios</div>
                    <div>Códigos promocionales</div>
                </div>
            </div>
            <div>
                <h1 class="mb-10 font-bold">Ayuda</h1>
                <div class="flex flex-col gap-2 text-stone-600 font-medium">
                    <div>Obtener ayuda</div>
                    <div>Estado del pedido</div>
                    <div>Envios y entregas</div>
                    <div>Devoluciones</div>
                    <div>Opciones de pago</div>
                    <div>Contacto</div>
                    <div>Evaluaciones</div>
                    <div>Ayuda con los códigos promocionales de Naik</div>
                </div>
            </div>
            <div>
                <h1 class="mb-10 font-bold">Empresa</h1>
                <div class="flex flex-col gap-2 text-stone-600 font-medium">
                    <div>Acerca de Naik</div>
                    <div>Novedades</div>
                    <div>Empleo</div>
                    <div>Inversores</div>
                    <div>Sostenibilidad</div>
                    <div>Propósito</div>
                    <div>Informar de un problema</div>
                </div>
            </div>
        </div>
            <span class="flex p-12" ><svg aria-hidden="true" class="css-npy3on" focusable="false" viewBox="0 0 24 24" role="img"
                    width="24px" height="24px" fill="none">
                    <path stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5"
                        d="M21.75 12A9.75 9.75 0 0112 21.75M21.75 12A9.75 9.75 0 0012 2.25M21.75 12c0 2.071-4.365 3.75-9.75 3.75S2.25 14.071 2.25 12m19.5 0c0-2.071-4.365-3.75-9.75-3.75S2.25 9.929 2.25 12M12 21.75A9.75 9.75 0 012.25 12M12 21.75c2.9 0 5.25-4.365 5.25-9.75S14.9 2.25 12 2.25m0 19.5c-2.9 0-5.25-4.365-5.25-9.75S9.1 2.25 12 2.25M2.25 12A9.75 9.75 0 0112 2.25">
                    </path>
                </svg>
                España </span>


    </div>
    <div class="flex gap-4 p-12 text-stone-600 font-medium">
        <div>© 2025 Naik, Inc. Ninguno o todos los derechos reservados</div>
        <div>Guias</div>
        <div>Términos de uso</div>
        <div>Terminos de venta</div>
        <div>Aviso legal</div>
        <div>Politica de privacidad y cookies</div>
        <div>Configuración de privacidad y cookies</div>
    </div>
</footer>