<div class="p-6 bg-stone-200 rounded-lg">
    <h1 class="font-bold text-lg" id="nombre">
        {{product?.nombre}}
    </h1>
    <div class="flex gap-4">
        <div id="imagen">
            <img class="h-48 w-48 object-cover rounded-lg" [src]="product?.imagen" [alt]="'foto '+product?.nombre">
            
        </div>
        <div class="font-semibold">
            <p id="id">
                <strong>nº referencia: </strong>{{product?.id}}
            </p>
            <p id="tipo">
                <strong>tipo: </strong> {{product?.tipo}}
            </p>
            <p id="precio">
                <strong>precio: </strong> 
                <span *ngIf="product?.oferta" class="line-through mr-3">{{product?.precio}}</span><span>{{precioFinal}}</span> €
            </p>
            <p *ngIf="product?.oferta" id="descuento">
                {{product?.descuento}}% de descuento
            </p>            
            <p id="descripcion">
                {{product?.descripcion}}
            </p>
        </div>

    </div>
</div>

