<div class="p-6 bg-stone-100 rounded-lg flex gap-4 relative">

    <div id="imagen">
        <img class="h-24 w-24 object-cover rounded-lg" [src]="cartProduct?.imageUrl" [alt]="'foto '+cartProduct?.name">

    </div>
    <div class="font-semibold">
        <h1 id="nombre">
            <strong>{{cartProduct?.name}}</strong>
        </h1>
        <h3 id="tipo">
            <strong>{{cartProduct?.productType}}</strong>
        </h3>
        <p id="precio">
            <strong>precio: </strong>
            <span> {{precioFinal}} </span> €
        </p>
        <p id="cantidad">
            <strong>Cantidad: </strong>
            {{cartProduct?.quantity}}
        </p>
    </div>
    <img *ngIf="cartProduct" (click)="this.borrarProducto(cartProduct)" class="w-6 h-6 absolute right-0 top-0 scale-100 hover:scale-110 active:scale-80 transition" src="/images/boton-eliminar.png" alt="cancelar">
</div>